# Example .env file

# Secret key for generating refresh tokens
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here

# MongoDB connection URL
MONGO_URL="your_mongodb_connection_url_here"

# Port for the server to listen on
PORT=3000

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

# Expiry time for access tokens
ACCESS_TOKEN_EXPIRY=1h

# Secret key for generating access tokens
ACCESS_TOKEN_SECRET=your_access_token_secret_here

# Expiry time for refresh tokens
REFRESH_TOKEN_EXPIRY=1d
